.contact_us {
  margin-bottom: 150px;
  .title_contact {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 160px 0 0 200px;
    p {
      font: normal normal normal 16px/1.4em poppins-extralight, poppins, sans-serif;
      color: rgb(168, 168, 168);
      letter-spacing: 0.05em;
    }
    h3 {
      font: normal normal normal 72px/1.2em barlow-medium, barlow;
      font-family: 'Akshar';
    }
    .line_title {
      width: 195px;
      height: 0.5px;
      background-color: rgb(204, 202, 202);
      position: absolute;
      left: 70px;
      bottom: 380px;
      transform: rotate(90deg);
    }
  }
  .adresses {
    display: flex;
    margin: 119px 0 61px 400px;
    gap: 50px;
    p{
        width: 346px;
        line-height: 2.2em;
        font-size: 16px;
        font: normal normal normal 16px/2.2em poppins-extralight,poppins,sans-serif;
        font-family: 'Didact Gothic';
        letter-spacing: 0.05em;
    }
    .office_1, .office_2{
        margin-top: -15px;
        h5{
            color: rgb(255, 89, 0);
        }
        p{
            width: 206px;
        }
    }
  }
}
