.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  overflow-x: hidden;

  .about_div {
    display: flex;
    flex-direction: column;
    margin: 150px 0 150px 150px;
    h4 {
      font: normal normal normal 16px/1.4em poppins-extralight, poppins,
        sans-serif;
      color: rgb(168, 168, 168);
      letter-spacing: 0.05em;
    }
    h1 {
      font: normal normal normal 72px/1.4em barlow-medium, barlow, Akshar;
    }
    p {
      font: normal normal normal 18px/1.4em poppins-extralight, poppins,
        Didact Gothic;
      width: 538px;
      letter-spacing: 0.03em;
    }
    .line_of_about {
      width: 253px;
      height: 1.5px;
      background-color: white;
      transform: rotate(90deg);
      position: relative;
      top: -120px;
      left: -150px;
    }
  }
  .the_team {
    position: relative;
    left: 150px;
    width: 100%;
    p {
      font: normal normal normal 16px/1.4em poppins-extralight, poppins,
        Didact Gothic;
      letter-spacing: 0.05em;
      color: rgb(168, 168, 168);
    }
    h1 {
      font: normal normal normal 47px/1.4em barlow-medium, barlow, sans-serif;
    }
  }
  .image_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 0px 0 100px;
    .image {
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        width: 340px;
        height: 371px;
      }
      h3 {
        font: normal normal bold 28px/1.4em barlow-extralight, barlow,
          sans-serif;
      }
      p {
        font: normal normal normal 16px/1.4em poppins-extralight, poppins,
          sans-serif;
        color: rgb(204, 202, 202);
        letter-spacing: 0.1em;
      }
      a {
        color: rgb(204, 202, 202);
        margin-bottom: 30px;
      }
    }
  }
}
