.footer {
  display: flex;
  align-items: center;
  height: 400px;
  margin-top: 100px;
  .in_footer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 242px;
    .see_first {
      p {
        color: rgb(168, 168, 168);
        letter-spacing: 0.05em;
        font: normal normal normal 16px/1.4em poppins-extralight, poppins,
          sans-serif;
      }
      h1 {
        font: normal normal normal 50px/1.4em barlow-medium, barlow, sans-serif;
      }
      .line_footer {
        width: 189px;
        height: 5px;
        border-top: 1px solid rgb(204, 202, 202);
        transform: rotate(90deg);
        position: relative;
        left: -110px;
        top: -30px;
      }
      form {
        display: flex;
        gap: 10px;
        margin-top: 45px;
        input {
          background-color: black;
          border-color: rgb(255, 64, 64);
          border-width: 3px;
          border-style: solid;
          color: white;
          width: 491px;
          height: 39px;
          padding: 3px 3px 3px 21px;
          font: normal normal normal 16px/1.4em poppins-extralight, poppins,
            sans-serif;
        }
        button {
          width: 128px;
          height: 39px;
          background-color: black;
          color: rgb(255, 64, 64);
          border-width: 3px;
          border-style: solid;
          border-color: rgb(255, 64, 64);
          font: normal normal normal 16px/1.4em poppins-extralight, poppins,
            sans-serif;
          cursor: pointer;
          font-weight: lighter;
        }
        button:hover {
          background-color: rgb(255, 64, 64);
          color: white;
          transition: 0.4s;
        }
      }
    }
    .subscribe {
      display: flex;
      position: relative;
      padding: 70px 0;
      gap: 30px;
      align-items: center;
      .powered_by {
        display: flex;
        gap: 5px;
        letter-spacing: 0.05em;
        color: rgb(168, 168, 168);
        font: normal normal normal 14px/1.4em poppins-extralight, poppins,
          sans-serif;
        a {
          color: rgb(168, 168, 168);
          text-decoration: underline;
        }
      }
      .social {
        display: flex;
        list-style: none;
        gap: 15px;
      }
    }
  }
}
a {
  color: rgb(168, 168, 168);
}
.outLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  .login {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
