.out_gsl {
  height: 390px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .about_gsl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0;
    gap: 34px;
    height: 100%;
    width: 565px;
    h6 {
      letter-spacing: 0.1em;
      color: rgb(168, 168, 168);
      font-size: 16px;
      text-align: center;
    }
    h1 {
      font: normal normal normal 30px/1.4em barlow-medium, barlow, sans-serif;
      letter-spacing: 0.03em;
    }
    p {
      width: 535px;
      letter-spacing: 0.05em;
      text-align: center;
      color: rgb(168, 168, 168);
      font-size: 16px;
      line-height: 1.9em;
    }
    h5 {
      font: normal normal normal 16px/1.4em poppins-extralight, poppins,
        sans-serif;
      letter-spacing: 0.05em;
      color: rgb(255, 89, 0);
    }
  }
}
