video {
  height: 100%;
  position: relative;
  top: -85px;
}

.out_now {
  width: 600px;
  position: absolute;
  top: 300px;
  left: 200px;
  color: rgba(255, 255, 255, 0.595);
  .line {
    position: relative;
    top: 156px;
    right: 200px;
    width: 301px;
    height: 0.5px;
    transform: rotateZ(90deg);
    background-color: rgb(204, 202, 202);
  }
  h3 {
    font: normal normal normal 50px/1.4em barlow-medium, barlow, sans-serif;
    color: white;
  }
  p {
    width: 350px;
    font: normal normal normal 16px/1.4em poppins-extralight, poppins,
      sans-serif;
    color: white;
  }
  a {
    position: absolute;
    bottom: -90px;
    color: white;
    background-color: red;
    padding: 10px 38px;
  }
}
