.production {
  display: flex;
  position: relative;
  margin-bottom: 100px;
  .image_of_card {
    display: flex;
    flex-direction: column;
    a {
      font: normal normal normal 16px/1.4em poppins-extralight, poppins,
        sans-serif;
      color: rgb(168, 168, 168);
      margin: 139px 0 40px 270px;
      width: 140px;
    }
    h1 {
      font: normal normal normal 47px/1.4em barlow-medium, barlow, sans-serif;
      margin: 0 0 30px 270px;
    }
    img {
      height: 380px;
      width: 637px;
      margin: 8px 0 28px 270px;
    }
  }
  .info_card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    p {
      width: 278px;
      font: normal normal normal 18px/1.4em poppins-extralight, poppins,
        Didact Gothic;
      margin: 20px 0 23px 50px;
      line-height: 1.6em;
    }
    .product_line {
      width: 445px;
      height: 1px;
      background-color: rgb(204, 202, 202);
      position: relative;
      top: 250px;
      right: 200px;
      transform: rotate(90deg);
      transform-origin: center 0.5px;
    }
    h4 {
      font: normal normal normal 14px/1.4em poppins-extralight, poppins,
        sans-serif;
      color: rgb(168, 168, 168);
      letter-spacing: 0.1em;
      width: 278px;
      margin: 14px 0 0 50px;
    }
    .buttons {
      display: flex;
    }
    button {
      width: 230px;
      height: 40px;
      margin: 20px 0 10px 50px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 50px;
    }
    .toFavorite {
      display: flex;
      justify-content: center;
      width: 50px;
      position: absolute;
      right: 100px;
      img {
        position: absolute;
        left: 7px;
        top: 3px;
        height: 80%;
        width: 80%;
      }
    }
    button:hover {
      background-color: black;
      transition: 0.5s;
      cursor: pointer;
      color: white;
    }
  }
}
